
#education-results {
    display: none;
    border: 2px solid black;
    width:60%;
    background-color: silver;
    font-weight: bold;
}


.educationitem-div {
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
}

.educationitem-div button {
    background-color: red;
    height: 80%;
    color:white;
}

#education-addbutton {
    background-color: blue;
    color: white;
}