#schooldates {
    display: flex;
    justify-content: center;
    gap:2.5%
}

.school-subsection {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

#education-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}

.results-div {
    display: flex;
    flex-direction: column;
}

.education-items {
    display: flex;
    justify-content: space-evenly;
}

#education-results .results-div {
    border:2px solid green;
}

